@model WebProje.Models.Product


<div class="container-fluid ">
    <div class="row justify-content-between">
        <div class="col-lg-6     col-sm-12 border-2 border border-primary">

            <div class="Barkod  row  border border-secondary mb-1">

                <label>Barkod Kodu <input type="text" maxlength="50"></label>
                <label>Ürün    <input type="text" maxlength="50"></label>

            </div>
            <div class="Deneme  row border-secondary">
                <div class="dropdown ">
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">test1</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">test2</a></li>
                    </ul>
                    @Html.DropDownListFor(x => x.ProductID, (List<SelectListItem>)ViewBag.v2, new { @class = "p-2" })
                </div>





            </div>
            <div class="row border-secondary">
                <div class="  mt-5">
                    <div class="">
                        <button type="button" class="btn btn-primary btn-lg">Ekle</button>
                    </div>
                    <div class="">
                        <button type="button" class="btn btn-secondary btn-lg">Sil</button>
                    </div>
                </div>

            </div>
        </div>
        <div class=" col-lg-6  col-sm-12 border border-secondary ">

            <div class="container"> Deneme2</div>
        </div>


    </div>


</div>
