@{
    ViewData["Title"] = "Home Page";

}

<!-- row -->
<div class="container-fluid">
    <div class="row tm-content-row tm-mt-big">
        <a href="/Home/Barkod" >
            
            <div class="tm-col tm-col-big tm-block ">
                <div class=" tm-block bg-secondary   d-flex justify-content-center align-items-center   ">

                    <h1>Barkod Sorgulama</h1>
                </div>
            </div>
        </a>
        <a href="/Home/Kasa" style=" ">

            <div class="tm-col tm-col-big tm-block ">
                <div class=" tm-block bg-secondary   d-flex justify-content-center align-items-center   ">
                    <h1>Kasa</h1>

                </div>
            </div>
        </a>
        <a href="/Home/Urunler" style=" ">

            <div class="tm-col tm-col-big tm-block ">
                <div class=" tm-block bg-secondary   d-flex justify-content-center align-items-center   ">
                    <h1>Kasa</h1>

                </div>
            </div>
        </a>
        <a href="/Home/Kasa" style=" ">

            <div class="tm-col tm-col-big tm-block ">
                <div class=" tm-block bg-secondary   d-flex justify-content-center align-items-center   ">
                    <h1>Kasa</h1>

                </div>
            </div>
        </a>


    </div>
